<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./static/Miniprojet.css">
  <script src="./static/Miniprojet.js"></script>
</head>
<nav>
  <ul>
    <li class="menu-deroulant">
      <a href="#">Menus</a>
      <ul class="sous-menu">
        <li><a href="#d">Description</a></li>
        <li><a href="./Page2.html">Evolution</a></li>
        <li><a href="./Page3.html">Scène professionnelle</a></li>
        <li><a href="./Page4.html">Intelligence artificielle</a></li>
        <li><a href="./Questionnaire.html">Questionnaire</a></li>
      </ul>
    </li>
  </ul>
</nav>

<body>
  <h1>Rocket league</h1>
  <div id="Sous-titre">
    <p>Rocket League est un jeu de football avec des voitures.
      Ça parait simple, mais en réalité, c'est plus compliqué que ça.</p>
  </div>
  <h2 id="d">Description du jeu</h2>
  <div id="Description">
    <p class="rl"><img src="./static/rl.jfif" alt=""></p>
    <p> Rocket League est un jeu multijoueur, développé par Psyonix, sorti en 2015. Il est basé sur un principe simple,
      un football en voiture. Il faut donc marquer plus de points que son adversaire pour l'emporter en poussant une
      balle dans les cages adverses. Evidemment se déplacer sur le terrain avec une voiture est bien plus compliqué qu'à
      pied, puisque le joueur est soumis au poids de son véhicule et au rayon de braquage. Malgré cela, il permet de
      jolies manoeuvres grâce aux boosters disposés un peu partout sur le terrain, qui permettent d'accélérer plus fort
      mais aussi de s'envoler, dans le but d'attraper la balle dans les airs avant son adversaire. Il met à disposition
      différents modes, du 1vs1 jusqu'au 4vs4, avec possibilité d'y ajouter à sa guise des modificateurs afin d'avoir
      encore plus de fun. Rocket League est un jeu très technique, qui régale les fans du jeu, mais aussi très fun
      permetant d'animer les soirées entre potes.
    </p>
  </div>
  <div class="Questionnaire">
    <a href="https://www.youtube.com/watch?v=WwS_U2psYTY">Lien vers une vidéo expliquant le sujet</a>
  </div>
  <div class="Questionnaire">
    <a id="np" href="./Page2.html"><br> Page suivante</a>
  </div>
</body>

</html>
