<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./static/Miniprojet.css">
  <script src="./static/Miniprojet.js"></script>
</head>
<nav>
  <ul>
    <li class="menu-deroulant">
      <a href="#">Menus</a>
      <ul class="sous-menu">
        <li><a href="./index.html">Description</a></li>
        <li><a href="./Page2.html">Evolution</a></li>
        <li><a href="./Page3.html">Scène professionnelle</a></li>
        <li><a href="./Page4.html">Intelligence artificielle</a></li>
        <li><a href="./Questionnaire.html">Questionnaire</a></li>
      </ul>
    </li>
  </ul>
</nav>

<body>
  <h3>L'évolution permanante du jeu</h3>
  <div id="Evolution">
    <p class="av"><img src="./static/2017.png" alt=""></p>
    <p class="mtn"><img src="./static/2023.png" alt=""></p>
    <p class="text">Maintenant que vous connaissez les bases du jeu, parlons de son évolution. Rocket League est un jeu qui
      depuis 2015 ne fait qu'évoluer. Des stratégies sont découvertes chaque année afin d'améliorer son niveau de jeu.
      Ces méthodes sont faites pour battre et surprendre de plus en plus son adversaire. Le fait que la voiture puisse
      être contrôlé comme on le souhaite, dans toutes les directions, avec une vitesse jamais identique, cela offre une
      infinitée de possibilité aux joueurs. Même les meilleurs joueurs du monde, savent eux même, qu'à l'heure actuelle,
      ils ne sont à même pas 1% du potentiel de niveau obtenable sur le jeu. </p><p class="text">Nous remarquons que ça n'est pas que les
      joueurs professionnel qui s'améliorent, mais la globalité des joueurs. En effet, comme nous pouvons le voir sur ces
      graphique ci-contre, représentant le rank des joueurs en 2017 et celui en 2023. En 2017, la moyenne était entre
      bronze 3 et gold 2. Alors qu'en 2023, la plupart des joueurs se trouvent entre gold 2 et diamant 2, ce
      représentait à peine 15% des joueurs en 2017. Pour cela, de nouvelles techniques sont inventés en permanance. </p><p class="text"> Par
      exemple, très rapidement, les joueurs ont remarqué que lorsque les 4 roues de leur voiture étaient posées sur la
      balle ils récupéraient leur "reset". C'est à dire, qu'il pouvait ressauter une troisième fois. Cette découverte a
      donc permis aux joueurs de surprendre ses adversaire,s en faisant rebondir la balle une troisième fois, sans
      qu'ils s'y attendent. Et ce sont ces découvertes qui ont engendré les "double flip reset", "triple flip
      reset",... qui consistent simplement à faire comme le flip reset, mais en en ajoutant d'autre, afin de récupérer
      plusieurs fois leur saut et de surprendre encore plus leurs adversaires. </p>
    <div class="videoytb1"><iframe width="560" height="315" src="https://www.youtube.com/embed/a0poz5roIN4"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe></div>

  </div>
  <div class="Questionnaire">
    <a id="np" href="./index.html"><br> Page précédente</a>
    <a id="np" href="./Page3.html"><br> Page suivante</a>
  </div>
</body>
