<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./static/Miniprojet.css">
</head>

<body>

  <nav>
    <ul>
      <li class="menu-deroulant">
        <a href="#">Menus</a>
        <ul class="sous-menu">
          <li><a href="./index.html">Description</a></li>
          <li><a href="./Page2.html">Evolution</a></li>
          <li><a href="./Page3.html">Scène professionnelle</a></li>
          <li><a href="./Page4.html">Intelligence artificielle</a></li>
          <li><a href="./Questionnaire.html">Questionnaire</a></li>
        </ul>
      </li>
    </ul>
  </nav>
  <h3>Questionnaire</h3>
  <div id="question" name="a">
    <form method="POST" name="quiz">
      <p>En quelle année le jeu a-t-il été crée ?
      <ul>
        <li><input type="radio" id="11" name="1" >2009</li>
        <li><input type="radio" id="12" name="1" >2019</li>
        <li><input type="radio" id="13" name="1" >2015</li>
        <li><input type="radio" id="14" name="1" >1789</li>
      </ul>
      </p>
      <p>Quel est le but du jeu ?<br>
      <ul>
        <li><input type="radio" id="21" name="2" >Un jeu de motos qui roule sur un circuit</li>
        <li><input type="radio" id="22" name="2" >Un jeu de course de voiture</li>
        <li><input type="radio" id="23" name="2" >Un chat perchée</li>
        <li><input type="radio" id="24" name="2" >Un jeu de foot avec des voitures</li>
      </ul>
      </p>
      <p>Qui a gagné le plus de championnat du monde ?<br>
      <ul>
        
        <li><input type="radio" id="31" name="3" >Kaydop</li>
        <li><input type="radio" id="32" name="3" >TurboPolsa</li>
        <li><input type="radio" id="33" name="3" >Moi</li>
        <li><input type="radio" id="34" name="3" >Zen</li>
      </ul>
      </p>
      <p>Quel est le type de réseau utilisé par l'IA de rocket league ?<br>
      <ul>
        <li><input type="radio" id="41" name="4" >Un mec qui code à la main</li>
        <li><input type="radio" id="42" name="4" >Un réseau de deep learning à gradiant décroissant</li>
        <li><input type="radio" id="43" name="4" >Un réseau neuronal basé sur le reinforcement learning</li>
        <li><input type="radio" id="44" name="4" >Un réseau filaire</li>
      </ul>
      </p>
    </form>
    <button id="validation">Valider</button>
  </div>

  <div id="resultat">B</div>
  <div class="Questionnaire">
    <a href="./Page4.html"><br> Page précédente</a>
  </div>
  <div class="Questionnaire">
    <a href="https://www.rocketleague.com/fr/">Pour jouer, vous aussi à ce jeu extraordinaire</a>
  </div>
  
  <script src="./static/Miniprojet.js"></script>
</body>

</html>
